Repository blitzy-public-samples/linkedin-recruiter-zfmk15, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @api-team, @security-team, @data-science-team, @search-team, @data-team, @frontend-team, @devops-team, @platform-team

.github/CODEOWNERS:

* @tech-leads

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @backend-team @api-team @security-team

# Analysis service with Claude AI integration and data security requirements
src/backend/analysis-service/** @data-science-team @backend-team @security-team

# LinkedIn search service ownership with data protection requirements
src/backend/search-service/** @search-team @backend-team @security-team

# Data persistence service ownership with enhanced security measures
src/backend/data-service/** @data-team @backend-team @security-team

# Web application ownership with security review for client-side security
src/web/** @frontend-team @security-team

# Infrastructure and deployment configuration with security oversight
infrastructure/** @devops-team @platform-team @security-team

# CI/CD workflow configuration ownership with security validation
.github/workflows/** @devops-team @platform-team @security-team

# Configuration file ownership with security review
**/*config*.{ts,js,json,yaml,yml} @platform-team @security-team

# Security-related code ownership
**/security*.{ts,js,java,py} @security-team

# Authentication and authorization code ownership
**/auth*.{ts,js,java,py} @security-team

# Data encryption implementation ownership
**/encryption*.{ts,js,java,py} @security-team

# Data protection and privacy code ownership
**/data-protection*.{ts,js,java,py} @security-team @data-team

# Ensure security review for sensitive data handling
src/backend/data-service/**/*.{ts,js,java,py} @security-team @data-team

# Infrastructure as Code and deployment configurations
infrastructure/terraform/** @devops-team @platform-team @security-team
infrastructure/kubernetes/** @devops-team @platform-team @security-team
infrastructure/docker/** @devops-team @platform-team @security-team

# CI/CD pipeline configurations
.github/workflows/api-gateway.yml @devops-team @platform-team @security-team
.github/workflows/analysis-service.yml @devops-team @platform-team @security-team
.github/workflows/search-service.yml @devops-team @platform-team @security-team
.github/workflows/data-service.yml @devops-team @platform-team @security-team
.github/workflows/web.yml @devops-team @platform-team @security-team

# Documentation ownership
docs/** @tech-leads @platform-team

# Test configurations and test infrastructure
tests/e2e/** @devops-team @platform-team
tests/security/** @security-team
tests/performance/** @platform-team

# Database schema and migration scripts
src/backend/data-service/migrations/** @data-team @security-team
src/backend/data-service/schema/** @data-team @security-team

# API specifications and contracts
src/backend/api-gateway/specs/** @api-team @backend-team
src/backend/*/api/** @api-team @backend-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/monitoring.tf
  infrastructure/terraform/monitoring.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/rds.tf
  infrastructure/terraform/rds.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/route53.tf
  infrastructure/terraform/route53.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/s3.tf
  infrastructure/terraform/s3.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/vpc.tf
  infrastructure/terraform/vpc.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/waf.tf
  infrastructure/terraform/waf.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/documentdb/main.tf
  infrastructure/terraform/modules/documentdb/main.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/documentdb/outputs.tf
  infrastructure/terraform/modules/documentdb/outputs.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/documentdb/variables.tf
  infrastructure/terraform/modules/documentdb/variables.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @platform-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/.env.example
  src/backend/.env.example
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/README.md
  src/backend/README.md
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/analysis-service/Dockerfile
  src/backend/analysis-service/Dockerfile
Owners: @data-science-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/analysis-service/README.md
  src/backend/analysis-service/README.md
Owners: @data-science-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/analysis-service/pyproject.toml
  src/backend/analysis-service/pyproject.toml
Owners: @data-science-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/analysis-service/requirements.txt
  src/backend/analysis-service/requirements.txt
Owners: @data-science-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/analysis-service/src/__init__.py
  src/backend/analysis-service/src/__init__.py
Owners: @data-science-team, @backend-team, @security-team
