Repository blitzy-public-samples/linkedin-recruiter-zfmk15, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @api-team, @security-team, @data-science-team, @search-team, @data-team, @frontend-team, @devops-team, @platform-team

.github/CODEOWNERS:

* @tech-leads

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @backend-team @api-team @security-team

# Analysis service with Claude AI integration and data security requirements
src/backend/analysis-service/** @data-science-team @backend-team @security-team

# LinkedIn search service ownership with data protection requirements
src/backend/search-service/** @search-team @backend-team @security-team

# Data persistence service ownership with enhanced security measures
src/backend/data-service/** @data-team @backend-team @security-team

# Web application ownership with security review for client-side security
src/web/** @frontend-team @security-team

# Infrastructure and deployment configuration with security oversight
infrastructure/** @devops-team @platform-team @security-team

# CI/CD workflow configuration ownership with security validation
.github/workflows/** @devops-team @platform-team @security-team

# Configuration file ownership with security review
**/*config*.{ts,js,json,yaml,yml} @platform-team @security-team

# Security-related code ownership
**/security*.{ts,js,java,py} @security-team

# Authentication and authorization code ownership
**/auth*.{ts,js,java,py} @security-team

# Data encryption implementation ownership
**/encryption*.{ts,js,java,py} @security-team

# Data protection and privacy code ownership
**/data-protection*.{ts,js,java,py} @security-team @data-team

# Ensure security review for sensitive data handling
src/backend/data-service/**/*.{ts,js,java,py} @security-team @data-team

# Infrastructure as Code and deployment configurations
infrastructure/terraform/** @devops-team @platform-team @security-team
infrastructure/kubernetes/** @devops-team @platform-team @security-team
infrastructure/docker/** @devops-team @platform-team @security-team

# CI/CD pipeline configurations
.github/workflows/api-gateway.yml @devops-team @platform-team @security-team
.github/workflows/analysis-service.yml @devops-team @platform-team @security-team
.github/workflows/search-service.yml @devops-team @platform-team @security-team
.github/workflows/data-service.yml @devops-team @platform-team @security-team
.github/workflows/web.yml @devops-team @platform-team @security-team

# Documentation ownership
docs/** @tech-leads @platform-team

# Test configurations and test infrastructure
tests/e2e/** @devops-team @platform-team
tests/security/** @security-team
tests/performance/** @platform-team

# Database schema and migration scripts
src/backend/data-service/migrations/** @data-team @security-team
src/backend/data-service/schema/** @data-team @security-team

# API specifications and contracts
src/backend/api-gateway/specs/** @api-team @backend-team
src/backend/*/api/** @api-team @backend-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/api-gateway/src/types/auth.types.ts
  src/backend/api-gateway/src/types/auth.types.ts
Owners: @backend-team, @api-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/api-gateway/src/types/search.types.ts
  src/backend/api-gateway/src/types/search.types.ts
Owners: @backend-team, @api-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/api-gateway/src/utils/jwt.utils.ts
  src/backend/api-gateway/src/utils/jwt.utils.ts
Owners: @backend-team, @api-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/api-gateway/src/utils/logger.ts
  src/backend/api-gateway/src/utils/logger.ts
Owners: @backend-team, @api-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/api-gateway/tests/integration/auth.test.ts
  src/backend/api-gateway/tests/integration/auth.test.ts
Owners: @backend-team, @api-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/api-gateway/tests/integration/search.test.ts
  src/backend/api-gateway/tests/integration/search.test.ts
Owners: @backend-team, @api-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/api-gateway/tests/unit/jwt.test.ts
  src/backend/api-gateway/tests/unit/jwt.test.ts
Owners: @backend-team, @api-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/Dockerfile
  src/backend/data-service/Dockerfile
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/README.md
  src/backend/data-service/README.md
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/pom.xml
  src/backend/data-service/pom.xml
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/Application.java
  src/backend/data-service/src/main/java/com/linkedin/search/Application.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/config/DatabaseConfig.java
  src/backend/data-service/src/main/java/com/linkedin/search/config/DatabaseConfig.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/config/SecurityConfig.java
  src/backend/data-service/src/main/java/com/linkedin/search/config/SecurityConfig.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/controllers/ProfileController.java
  src/backend/data-service/src/main/java/com/linkedin/search/controllers/ProfileController.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/controllers/SearchController.java
  src/backend/data-service/src/main/java/com/linkedin/search/controllers/SearchController.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/entities/Profile.java
  src/backend/data-service/src/main/java/com/linkedin/search/entities/Profile.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/entities/SearchCriteria.java
  src/backend/data-service/src/main/java/com/linkedin/search/entities/SearchCriteria.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/entities/SearchResult.java
  src/backend/data-service/src/main/java/com/linkedin/search/entities/SearchResult.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/repositories/ProfileRepository.java
  src/backend/data-service/src/main/java/com/linkedin/search/repositories/ProfileRepository.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/repositories/SearchRepository.java
  src/backend/data-service/src/main/java/com/linkedin/search/repositories/SearchRepository.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/services/ProfileService.java
  src/backend/data-service/src/main/java/com/linkedin/search/services/ProfileService.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/java/com/linkedin/search/services/SearchService.java
  src/backend/data-service/src/main/java/com/linkedin/search/services/SearchService.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/resources/application-test.yml
  src/backend/data-service/src/main/resources/application-test.yml
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/resources/application.yml
  src/backend/data-service/src/main/resources/application.yml
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/resources/db/migration/V1__init.sql
  src/backend/data-service/src/main/resources/db/migration/V1__init.sql
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/main/resources/db/migration/V2__add_indexes.sql
  src/backend/data-service/src/main/resources/db/migration/V2__add_indexes.sql
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/test/java/com/linkedin/search/ProfileServiceTests.java
  src/backend/data-service/src/test/java/com/linkedin/search/ProfileServiceTests.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/test/java/com/linkedin/search/SearchServiceTests.java
  src/backend/data-service/src/test/java/com/linkedin/search/SearchServiceTests.java
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/data-service/src/test/resources/application-test.yml
  src/backend/data-service/src/test/resources/application-test.yml
Owners: @data-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/analysis-service.yaml
  src/backend/kubernetes/analysis-service.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/api-gateway.yaml
  src/backend/kubernetes/api-gateway.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/data-service.yaml
  src/backend/kubernetes/data-service.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/ingress.yaml
  src/backend/kubernetes/ingress.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/mongodb.yaml
  src/backend/kubernetes/mongodb.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/postgresql.yaml
  src/backend/kubernetes/postgresql.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/redis.yaml
  src/backend/kubernetes/redis.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/kubernetes/search-service.yaml
  src/backend/kubernetes/search-service.yaml
Owners: @tech-leads

Add public-samples/linkedin-recruiter-zfmk15/src/backend/search-service/Dockerfile
  src/backend/search-service/Dockerfile
Owners: @search-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/search-service/README.md
  src/backend/search-service/README.md
Owners: @search-team, @backend-team, @security-team

Add public-samples/linkedin-recruiter-zfmk15/src/backend/search-service/pyproject.toml
  src/backend/search-service/pyproject.toml
Owners: @search-team, @backend-team, @security-team
